<h1 class="dashboard-loading">Loading...</h1>

<% @department.dashboards.each do |d| %>
  <iframe class="dashboard-iframe" src="<%= d.url %>" frameborder="0"></iframe>
<% end %>

<script>

$('.dashboard-iframe').on('load', function() {
  $('.dashboard-iframe').show();
});

</script>